<div
  class="vh-100 overflow-hidden bg-image d-flex vh-100 align-items-center justify-content-center">
  <div class="col-12 col-md-8 p-3 position-absolute card border-0 shadow p-2 rounded-4">
    <h1 class="pt-2">Icon Konfigurator</h1>
    <h3 class="pb-2 text-grey">Registrieren</h3>
    <form (ngSubmit)="handleRegister()">
      <div class="mb-3">
        <label class="form-label" for="prename">Vorname</label>
        <input class="form-control shadow-none" id="prename" type="text" placeholder="Vorname" name="prename" [(ngModel)]="user.prename" required/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="name">Nachname</label>
        <input class="form-control shadow-none" id="name" type="text" placeholder="Name" name="name" [(ngModel)]="user.name" required/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="username">Nutzername</label>
        <input class="form-control shadow-none" id="username" type="text" placeholder="Nutzername" name="username" [(ngModel)]="user.username"
               required/>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control shadow-none" id="password" type="password" placeholder="Passwort" name="password" [(ngModel)]="user.password"
               required/>
      </div>
      <div class="row me-0">
        <a
          routerLink="/login"
        class="col text-decoration-none text-center align-self-center"
        >
          Du bist bereits registriert?
        </a>
        <button class="col-6 btn btn-primary btn-lg col-3 text-nowrap" id="submitButton" type="submit">Registrieren</button>
      </div>
    </form>
    <div class="col alert alert-danger mt-2" role="alert" *ngIf="serverError">
      {{ serverError }}
    </div>
  </div>
</div>
