.top-start-25 {
  transform: translateY(25%) translateX(25%)
}

.glass {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px) brightness(0.9);
  border-radius: 1rem;
}
.bg-image{
  background-image: url("../../../assets/img/bg.jpg");
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,0.2);
}
.text-grey{
  color: gray;
}
.z-index-1000{
  z-index: 1000;
}

#newIcon{
  font-size: 5rem;
}

.button-pointer{
  cursor: pointer;
}
